@import url(reset.css);
@import url(header/header.css);
@import url(main/upcoming.css);
@import url(main/detail.css);

html{
    font-size: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#root{
    width: 100%;
    height: 100%;
}

/* main {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
} */